*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    margin: 0 auto;
    width: 315px;
    height: 440px;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all ease-in-out 0.3s;
}

.back {
    transform: rotateY(180deg);
    opacity: 1;
}

.front {
    opacity: 0;
}

.card:hover .back {
    transform: rotateY(180deg);
    opacity: 0;
}

.card:hover .front {
    transform: rotateY(0deg);
    opacity: 1;
}